Source: cosmos
Maintainer: Simon Josefsson <simon@josefsson.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 8), help2man, rsync, devscripts
Standards-Version: 3.9.4
Homepage: http://josefsson.org/cosmos/
Vcs-Browser: https://gitorious.org/cosmos/cosmos-dpkg
Vcs-Git: git://gitorious.org/cosmos/cosmos-dpkg.git

Package: cosmos
Architecture: all
Depends: ${misc:Depends}, rsync
Recommends: git | git-core, gnupg
Description: simple configuration management system
 Cosmos install/delete configuration files on the system and execute
 custom-written scripts to perform sysadmin tasks.  Cosmos is intended
 to be used with a central version controlled repository that hold the
 Cosmos "model" file hierarchy for a particular machine.
